<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <title>トップ</title>
        <link rel="stylesheet" href="css/minified/index.css">
    </head>

    <body>
        <div id="wrapper" class="js-top">
            <div id="top01_01">
                <ul class="top-header">
                    <li>
                        <a href="#redeem" class="se top-header-download" data-se-label="SE_WAVE_OK">
                            <span class="top-header-label" data-message="top01_01_004"></span>
                        </a>
                    </li>
                    <li>
                        <a href="shelf02_01.html" class="se top-header-ranking" data-se-label="SE_WAVE_OK">
                            <span class="top-header-label" data-message="top01_01_003"></span>
                        </a>
                    </li>
                    <li id="sel_news">
                        <a href="#news" class="se top-header-news" data-se-label="SE_WAVE_OK">
                            <span class="top-header-label" data-message="top01_01_001"></span>
                            <span id="top_unread_news" class="top-news-off"></span>
                        </a>
                    </li>
                    <li>
                        <div class="top-header-search">
                            <input type="text" id="sel_keyword" disabled="disabled" name="freeword" value="" placeholder="" keyboard="full" minlength="0" maxlength="50" class="keyword top-header-freeword">
                        </div>
                    </li>
                </ul>
                <ul id="el-top" class="top-main" data-isloaded="false">
                    <li>
                        <p class="top-loading" data-message="common01_01_068"></p>
                    </li>
                </ul>
            </div>
            <div id="sel_menu_bar"></div>
        </div>
        <script id="template_owned_coupon" type="text/x-jquery-tmpl">
            <li class="owned-coupon-banner">
                <a href="coupon02_01.html" class="se" data-se-label="SE_WAVE_OK" data-sound-assigned="true">
                    <img class="coupon-banner-bg" src="image/top01_01/banner_owned_coupon.png" data-original="" width="" height="" class="lazy">
                    <img class="coupon-banner-icon" src="image/top01_01/banner_owned_coupon_icon.png" data-original="" width="" height="" class="lazy">
                    <div class="coupon-banner-ribbon">
                        <span data-message="common01_01_084_01"><!-- 〓あなただけ割引 --></span>
                    </div>
                    <div class="coupon-banner-text">
                        <span data-message="top01_01_005"><!-- 〓あなただけに特別価格のご案内 --></span>
                    </div>
                </a>
            </li>
        </script>
        <script id="template_top_content" type="text/x-jquery-tmpl">
            <li class="top-content">
                <a href="${ url_detail }" class="se" data-se-label="SE_WAVE_OK">
                    <img src="image/placeholder/place_free_dcdcdc.png" data-original="${ url_banner }" width="${ param_banner_w }" height="${ param_banner_h }" class="top-content-img lazy" />
                </a>
                {{if is_title}}
                <span class="top-content-caption" style="width:${ param_banner_w }px;">${ str_title }</span>
                {{/if}}
            </li>
        </script>
        <script id="template_partition" type="text/x-jquery-tmpl">
            <li class="top-subhead">
                <img src="image/placeholder/place_free_dcdcdc.png" data-original="${ url_partition }" width="${ param_partitionr_w }" height="${ param_partition_h }" class="lazy" />
            </li>
        </script>
        <div style="display: none">
            <span id="str_freeword" data-message="top01_01_002"></span>
            <span id="dialog_msg_nodata" data-message="boot01_08_001"></span>
            <span id="dialog_update" data-message="data03_03_002"></span>
            <span id="dialog_cancel" data-message="common01_01_007"></span>
            <span id="dialog_msg_update" data-message="boot01_01_005"></span>
        </div>
    </body>
    
    <script type="text/javascript" src="js/minified/boot.js?ts=1509895869" onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
    <script type="text/javascript" src="js/environment.js" onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
    <script type="text/javascript" src="js/minified/shelf01_01.js?ts=1509895869" onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
    <script type="text/javascript" src="js/minified/data01_01.js?ts=1509895869" onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
    <script type="text/javascript" src="js/minified/top03_01.js?ts=1509895869" onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
    <script type="text/javascript" src="js/minified/top02_01.js?ts=1509895869" onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
    <script lang="javascript">
        $(document).ready(function() {
            Wood.lap("document ready");
            new Wood.Controller.Index;
            Backbone.history.start({});
        });
    </script>
</html>