<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <title>トップ</title>
        <link rel="stylesheet" href="css/minified/index.css">
    </head>
    <body>
        <h1>This is the grove testing environment</h1>
        <p>All new additions to the grove API should be tested here. This is also the place to mess with wiiu native classes like wiiuSystemSettings</p>
        <script type="text/javascript" src="js/grove.js" onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
        <script lang="javascript">
            Grove.init();
        </script>
        <button onclick="Grove.Client.UI.enableHomeButton();">enable home button</button>
        <button onclick="Grove.Client.UI.disableHomeButton();">disable home button</button>
    </body>
</html>