<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link type="text/css" href="/css/stylesheet.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<title>Home - eShop</title>

	<script type="text/javascript" src="/js/grove.js" onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
	<script lang="javascript">
		Grove.init();
	</script>
</head>
<body>
	<div class="header-container">
		<h1 class="logo">Pretendo eShop</h1>
		<div class="acct-icon" style="background-image: url('https://via.placeholder.com/150');"></div>
		<button class="acct-drop"></button>
	</div>
	<div class="spacer" style="height: 25px;"></div>
	<div class="body-container">
		<h1 class="featured-title">Featured</h1>
		<div class="spacer" style="height: 1px;"></div>
		<div class="disp disp-card">
			<table>
				<tr>
					<td class="tbl-img">
						<div class="icon" style="background-image: url('/assets/img/steam.jpg'); background-size: cover; background-position: -28.5px 0px;"></div>
					</td>
					<td class="tbl-spc"></td>
					<td class="tbl-dsc">
						<h1>Steam</h1>
						<div class="dscbox">
							<p>
								Steam is the ultimate destination for playing, discussing, and creating games.
							</p>
						</div>
						<button class="dwl-btn">Install</button>
						<button class="inf-btn">More</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="section-tabs">
			<h1 class="title">Explore</h1>
			<div class="section-tabs-array">
				<button onclick="switchToRecommended()">Recommended by Pretendo</button>
				<button onclick="switchToPopular()">Popular</button>
				<button>Homebrew</button>
			</div>
		</div>
		<div class="section-container" id="recommended">
			<h2 class="subtitle">Recommended by Pretendo</h2>
			<div class="disp disp-app">
				<table>
					<tr>
						<td class="tbl-img">
							<div class="icon" style="background-image: url('https://via.placeholder.com/150');"></div>
						</td>
						<td class="tbl-dsc">
							<h1>Rockets</h1>
							<div class="dscbox">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus ipsum, pretium id odio id, dignissim lobortis libero.
								</p>
							</div>
							<button class="dwl-btn">Install</button>
							<button class="inf-btn">More</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="disp disp-app">
				<table>
					<tr>
						<td class="tbl-img">
							<div class="icon" style="background-image: url('https://via.placeholder.com/150');"></div>
						</td>
						<td class="tbl-dsc">
							<h1>House</h1>
							<div class="dscbox">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus ipsum, pretium id odio id, dignissim lobortis libero. Proin 
									iaculis magna ac fringilla lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
								</p>
							</div>
							<button class="dwl-btn">Install</button>
							<button class="inf-btn">More</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="section-container" id="popular" style="display: none;">
			<h2 class="subtitle">Popular</h2>
			<div class="disp disp-app">
				<table>
					<tr>
						<td class="tbl-img">
							<div class="icon" style="background-image: url('/assets/img/icon3.jpg');"></div>
						</td>
						<td class="tbl-dsc">
							<h1>Purple Thing</h1>
							<div class="dscbox">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</p>
							</div>
							<button class="dwl-btn">Install</button>
							<button class="inf-btn">More</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="disp disp-app">
				<table>
					<tr>
						<td class="tbl-img">
							<div class="icon" style="background-image: url('https://via.placeholder.com/150');"></div>
						</td>
						<td class="tbl-dsc">
							<h1>Title</h1>
							<div class="dscbox">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus ipsum, pretium id odio id, dignissim lobortis libero.
								</p>
							</div>
							<button class="dwl-btn">Install</button>
							<button class="inf-btn">More</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="disp disp-app">
				<table>
					<tr>
						<td class="tbl-img">
							<div class="icon" style="background-image: url('https://via.placeholder.com/150');"></div>
						</td>
						<td class="tbl-dsc">
							<h1>Title</h1>
							<div class="dscbox">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus ipsum, pretium id odio id, dignissim lobortis libero.
								</p>
							</div>
							<button class="dwl-btn">Install</button>
							<button class="inf-btn">More</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="spacer" style="height: 50px;"></div>
	</div>
</body>
<script src="/js/sectionHandler.js"></script>
</html>