<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link type="text/css" href="/css/stylesheet.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<title>Home - eShop</title>

	<script type="text/javascript" src="/js/grove.js" onerror="wiiuErrorViewer.openByCode(1119000);wiiuBrowser.jumpToHomeButtonMenu()"></script>
	<script lang="javascript">
		Grove.init();
	</script>
</head>
<body id="body">
	<div class="header-container">
		<img class="logo-img" src="/assets/logo.png">
		<h1 class="logo-txt">eShop</h1>
		<div class="acct-icon" style="background-image: url('https://via.placeholder.com/150');"></div>
		<button class="acct-btn" onclick="toggleMenu()"></button>
		<div class="acct-menu" id="acctMenu">
			<button style="background-image: url('/assets/icons/styled/person.svg')">Account</button>
			<button style="background-image: url('/assets/icons/styled/settings.svg')">Settings</button>
		</div>
	</div>
	<div class="spacer" style="height: 25px;"></div>
	<div class="body-container">
		<h1 class="featured-title">Featured</h1>
		<div class="spacer" style="height: 1px;"></div>
		<div class="disp disp-card">
			<table>
				<tr>
					<td class="tbl-img">
						<div class="icon" style="background-image: url('/assets/img/steam.jpg'); background-size: cover; background-position: -28.5px 0px;"></div>
					</td>
					<td class="tbl-spc"></td>
					<td class="tbl-dsc">
						<h1>Steam</h1>
						<div class="dscbox">
							<p>
								Steam is the ultimate destination for playing, discussing, and creating games.
							</p>
						</div>
						<button class="dwl-btn">Install</button>
						<button class="inf-btn" id="modal_example">More</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="section-tabs">
			<h1 class="title">Explore</h1>
			<div class="section-tabs-array">
				<button onclick="switchToRecommended()">Recommended by Pretendo</button>
				<button onclick="switchToPopular()">Popular</button>
				<button>Homebrew</button>
			</div>
		</div>
		<div class="section-container" id="recommended">
			<h2 class="subtitle">Recommended by Pretendo</h2>
			<div class="disp disp-app">
				<table>
					<tr>
						<td class="tbl-img">
							<div class="icon" style="background-image: url('https://via.placeholder.com/150');"></div>
						</td>
						<td class="tbl-dsc">
							<h1>Rockets</h1>
							<div class="dscbox">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus ipsum, pretium id odio id, dignissim lobortis libero.
								</p>
							</div>
							<button class="dwl-btn">Install</button>
							<button class="inf-btn">More</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="disp disp-app">
				<table>
					<tr>
						<td class="tbl-img">
							<div class="icon" style="background-image: url('https://via.placeholder.com/150');"></div>
						</td>
						<td class="tbl-dsc">
							<h1>House</h1>
							<div class="dscbox">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus ipsum, pretium id odio id, dignissim lobortis libero. Proin 
									iaculis magna ac fringilla lobortis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
								</p>
							</div>
							<button class="dwl-btn">Install</button>
							<button class="inf-btn">More</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="section-container" id="popular" style="display: none;">
			<h2 class="subtitle">Popular</h2>
			<div class="disp disp-app">
				<table>
					<tr>
						<td class="tbl-img">
							<div class="icon" style="background-image: url('/assets/img/icon3.jpg');"></div>
						</td>
						<td class="tbl-dsc">
							<h1>Purple Thing</h1>
							<div class="dscbox">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								</p>
							</div>
							<button class="dwl-btn">Install</button>
							<button class="inf-btn">More</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="disp disp-app">
				<table>
					<tr>
						<td class="tbl-img">
							<div class="icon" style="background-image: url('https://via.placeholder.com/150');"></div>
						</td>
						<td class="tbl-dsc">
							<h1>Title</h1>
							<div class="dscbox">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus ipsum, pretium id odio id, dignissim lobortis libero.
								</p>
							</div>
							<button class="dwl-btn">Install</button>
							<button class="inf-btn">More</button>
						</td>
					</tr>
				</table>
			</div>
			<div class="disp disp-app">
				<table>
					<tr>
						<td class="tbl-img">
							<div class="icon" style="background-image: url('https://via.placeholder.com/150');"></div>
						</td>
						<td class="tbl-dsc">
							<h1>Title</h1>
							<div class="dscbox">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lectus ipsum, pretium id odio id, dignissim lobortis libero.
								</p>
							</div>
							<button class="dwl-btn">Install</button>
							<button class="inf-btn">More</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="spacer" style="height: 50px;"></div>
	</div>
</body>
<div class="modal" id="info-modal">
	<div class="modal-content">
		<div class="top" id="add-border">
			<table id="add-border">
				<tr>
					<td class="app-img" id="add-border">
						<img src="https://via.placeholder.com/150">
					</td>
					<td class="app-cont" id="add-border">
						<h1>Steam</h1>
						<button style="background-image: url('/assets/icons/white/download.svg')">Download</button>
					</td>
				</tr>
			</table>
		</div>
		<div class="divider"></div>
		<div class="bottom">
			<h1>Description</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices sit amet felis vel bibendum. Nunc consequat turpis vel sapien tincidunt, ac 
				venenatis orci maximus. Nunc tincidunt efficitur eros. Maecenas eget bibendum ipsum, et rutrum nisl. Etiam lobortis congue sollicitudin. Sed dictum 
				turpis id risus porttitor, quis viverra enim hendrerit. Nullam rutrum sem mi, at semper massa imperdiet eu. Proin viverra, nisi id dignissim sagittis, 
				ligula ante rhoncus sem, vel vestibulum dui magna non orci. Vestibulum id mollis metus. Aenean condimentum erat vel velit tincidunt, sit amet 
				pellentesque augue finibus. Nullam ultrices, tellus eu tempor tempor, neque leo faucibus leo, nec congue risus sem in sem. Nam vulputate eget enim 
				vitae porta. 
			</p>
			<h1>Screenshots</h1>

		</div>
	</div>
</div>
<script src="/js/frontend.js"></script>
</html>