html {
    height: 720px;
    width: 1280px;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    margin: 0px 125px auto;
    font-family: 'Roboto', sans-serif;
}

#add-border {
    border: 1px solid red;
}

/* Structure */

.header-container {
    position: relative;
    top: 25px;
    padding: 10px;
}

.body-container {
    position: relative;
    top: 50px;
    padding: 10px;
}

.app-container {
    position: relative;
    padding: 10px 
}

/* Header */

.header-container .logo-img {
    position: absolute;
    top: 15px;
    left: 10px;
    display: block;
    height: 32px;
    width: 32px;
}

.header-container .logo-txt {
    position: absolute;
    top: 8px;
    left: 55px;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #512da8;
}

.header-container .acct-icon {
    position: absolute;
    top: 20px;
    right: 10px;
    display: block;
    height: 35px;
    width: 35px;
    background-color: #424242;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-container .acct-btn {
    position: absolute;
    top: 20px;
    right: 52px;
    display: block;
    height: 35px;
    width: 35px;
    border: none;
    background-color: transparent;
    background-image: url('../assets/icons/styled/arrow_dropdown.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
}

.header-container .acct-menu {
    position: absolute;
    top: 55px;
    right: 60px;
    z-index: 1;
    display: none;
    height: fit-content;
    width: 100px;
    padding: 0px 15px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-container .acct-menu button {
    margin: none;
    padding: 15px 25px;
    padding-left: 35px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 16px;
    font-weight: normal;
    color: #616161;
    background-position: 5px 15px;
    background-repeat: no-repeat;
    background-size: 24px;
}

/* Section Layouts */

h1.featured-title {
    font-size: 20px;
    font-weight: bold;
    color: #512da8;
}

.section-container {
    height: fit-content;
    width: 100%;
    padding: 15px 0px;
}

.section-tabs {
    height: fit-content;
    width: 100%;
    margin-top: 25px;
    padding: 15px 0px;
}

.section-tabs-array {
    height: fit-content;
    width: 100%;
    padding: 10px 10px;
}

.section-tabs button {
    margin: none;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #512da8;
    font-size: 16px;
    font-weight: normal;
    color: #f5f5f5;
}

.section-tabs button:hover {
    background-color: #673ab7;
}

h1.title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #512da8;
}

h2.subtitle {
    margin-left: 39px;
    font-size: 18px;
    font-weight: bold;
    color: #512da8;
}

.spacer {
    width: 100%;
}

/* Displays */

.disp {
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
}

.disp-card {
    margin: 15px 0 auto;
    padding: 25px 35px;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.disp-app {
    margin: 45px 0px auto;
    padding: none;
    background-color: transparent;
}

.disp table {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.disp table .tbl-img {
    width: 20%;
}

.disp table .tbl-spc {
    height: 100%;
    width: 2%;
}

.disp table .tbl-dsc {
    width: 80%;
    padding: 0px 5px;
}

.disp table .tbl-dsc .dscbox {
    max-height: 85px;
    padding: none;
}

.disp .icon {
    display: block;
    height: 125px;
    width: 125px;
    margin: 0 auto;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.disp h1 {
    font-size: 18px;
    font-weight: bold;
    color: #512da8;
}

.disp p {
    font-size: 16px;
    font-weight: normal;
    color: #616161;
}

.disp button {
    margin: none;
    padding: 8px 20px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    background-color: #512da8;
    font-size: 16px;
    font-weight: normal;
    color: #f5f5f5;
}

.disp button:hover {
    background-color: #673ab7;
}

.disp .dwl-btn {
    background-image: url('../assets/icons/white/download.svg');
    background-position: 9px 7px;
    background-repeat: no-repeat;
    background-size: 24px;
}

.disp .inf-btn {
    background-image: url('../assets/icons/white/more.svg');
    background-position: 9px 7px;
    background-repeat: no-repeat;
    background-size: 24px;
}

/* Information Modal */

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    margin: 100px auto;
    padding: 15px;
    height: fit-content;
    width: 80%;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.modal-content .top {
    height: fit-content;
    width: 100%;
}

.modal-content .top table {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.modal-content .top table .app-img {
    height: 100%;
    width: 15%;
    padding: 10px;
    box-sizing: border-box;
}

.modal-content .top table .app-img img{
    display: block;
    height: 135px;
    width: 135px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 5px;
}

.modal-content .top table .app-cont{
    height: 100%;
    width: 85%;
    padding: 15px;
    box-sizing: border-box;
}

.modal-content .top table .app-cont h1{
    font-size: 22px;
    font-weight: bold;
    color: #512da8; 
}

.modal-content .top table .app-cont button {
    margin: none;
    padding: 8px 20px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    background-color: #512da8;
    font-size: 16px;
    font-weight: normal;
    color: #f5f5f5;
    background-position: 9px 7px;
    background-repeat: no-repeat;
    background-size: 24px;
}

.modal-content .top table .app-cont button:hover {
    background-color: #673ab7;
}

.modal-content .bottom {
    height: fit-content;
    width: 100%;
}

.modal-content .bottom h1{
    font-size: 20px;
    font-weight: bold;
    color: #512da8; 
}

.modal-content .bottom p {
    font-size: 18px;
    font-weight: normal;
    color: #424242;
}

.modal .divider {
    display: block;
    height: 1px;
    width: 100%;
    margin: 15px 0px auto;
    padding: none;
    background-color: #8e8e8e;
}